RewriteEngine On
 
# Routing do ADMIN
RewriteRule ^admin/?$ admin/index.php [L]
RewriteRule ^admin/(.*)$ admin/index.php [L]
 
# Permitir ficheiros reais
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]
 
# Front controller (site principal)
RewriteRule ^ index.php [QSA,L]